.App1 {
  text-align: center;
  margin-left: 20px;
}

.Images {
  margin-left: 20px;
}

.AyushBot {
  margin-left: 20px;
}

.UserDetails {
  text-align: center;
}

.PostField {
  background-color: white;
  width: 600px;
}

.ProfilePictureImage {
  margin-right: 16px;
  width: 125px;
  height: 100px;
}

.PostImage {
  width: 275px;
  height: 250px;
}

.HomePage {
  margin-left: 20px;
}

.ProfilePage {
  margin-left: 20px;
}

.LoginPage {
  margin-left: 20px;
}

body {
  background-color: #bbfffd;
}

.div1 {
  background-color: pink;
}

.postContainer {
  display: flex;
  align-items: flex-start;
}

.TextInput {
  font-size: medium;
  width: 70%;
}

.AskButton {
  height: 55px;
}

.AyushBotTextInput {
  font-size: medium;
  width: 30%;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
